@font-face {
    font-family: 'Roboto';
    src: url("../fonts/subset-Roboto-Bold.eot");
    src: url("../fonts/subset-Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Roboto-Bold.woff2") format("woff2"), url("../fonts/subset-Roboto-Bold.woff") format("woff"), url("../fonts/subset-Roboto-Bold.ttf") format("truetype"), url("../fonts/subset-Roboto-Bold.svg#Roboto-Bold") format("svg");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/subset-Roboto-Medium.eot");
    src: url("../fonts/subset-Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Roboto-Medium.woff2") format("woff2"), url("../fonts/subset-Roboto-Medium.woff") format("woff"), url("../fonts/subset-Roboto-Medium.ttf") format("truetype"), url("../fonts/subset-Roboto-Medium.svg#Roboto-Medium") format("svg");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/subset-Roboto-Regular.eot");
    src: url("../fonts/subset-Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Roboto-Regular.woff2") format("woff2"), url("../fonts/subset-Roboto-Regular.woff") format("woff"), url("../fonts/subset-Roboto-Regular.ttf") format("truetype"), url("../fonts/subset-Roboto-Regular.svg#Roboto-Regular") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Roboto Slab';
    src: url("../fonts/subset-RobotoSlab-Bold.eot");
    src: url("../fonts/subset-RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/subset-RobotoSlab-Bold.woff") format("woff"), url("../fonts/subset-RobotoSlab-Bold.ttf") format("truetype"), url("../fonts/subset-RobotoSlab-Bold.svg#RobotoSlab-Bold") format("svg");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?whz5pi");
    src: url("../fonts/icomoon.eot?whz5pi#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?whz5pi") format("truetype"), url("../fonts/icomoon.woff?whz5pi") format("woff"), url("../fonts/icomoon.svg?whz5pi#icomoon") format("svg");
    font-weight: normal;
    font-style: normal
}

i {
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-check:before {
    content: ""
}

.icon-play:before {
    content: ""
}

.icon-left-arrow:before {
    content: ""
}

.icon-right-arrow:before {
    content: ""
}

.icon-instagram:before {
    content: ""
}

.icon-telegram:before {
    content: ""
}

.icon-vk:before {
    content: ""
}

.icon-viber:before {
    content: ""
}

.icon-google-plus:before {
    content: ""
}

.icon-facebook:before {
    content: ""
}

.icon-whatsapp:before {
    content: ""
}

.icon-twitter:before {
    content: ""
}

.icon-youtube:before {
    content: ""
}

.icon-skype:before {
    content: ""
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #d9b680
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #d9b680
}

::-ms-selection {
    text-shadow: none;
    color: #fff;
    background: #d9b680
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px !important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #F2F2F2
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 0
}

html {
    height: 100%;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none
}

input, textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: none;
    color: #000;
    font-family: "Roboto", sans-serif;
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    vertical-align: top
}

input[type="button"], input[type="submit"], button {
    cursor: pointer
}

td {
    margin: 0;
    padding: 0;
    vertical-align: top
}

td img {
    vertical-align: top
}

form {
    padding: 0;
    margin: 0
}

a {
    outline: none;
    color: #0076ff;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

a:hover {
    text-decoration: none
}

a:active, a:focus, a:hover, a:link, a:visited {
    outline: 0
}

a, span, div, button {
    outline: none !important
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    outline: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: pointer
}

::-webkit-input-placeholder {
    color: #333;
    line-height: 18px;
    font-size: 18px;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

::-webkit-textarea-placeholder {
    color: #333;
    line-height: 18px;
    font-size: 18px;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

input::-moz-placeholder {
    vertical-align: middle;
    color: #333;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

input:-moz-placeholder {
    vertical-align: middle;
    color: #333;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

input:-ms-input-placeholder {
    color: #333;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

textarea::-moz-placeholder {
    color: #333;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

textarea:-ms-input-placeholder {
    color: #333;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

button[disabled], html input[disabled] {
    cursor: not-allowed
}

input[type="checkbox"], input[type="radio"] {
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    cursor: pointer
}

input[type="checkbox"]:checked + .custom-checkbox:before, input[type="radio"]:checked + .custom-checkbox:before {
    content: "\e907";
    position: absolute;
    top: 50%;
    left: 50%;
    color: #d9b680;
    font-family: 'icomoon' !important;
    font-size: 15px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input[type="text"], input[type="password"], input[type="submit"], input[type="tel"], input[type="email"], input[type="number"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type="text"]:focus::-webkit-input-placeholder, input[type="number"]:focus::-webkit-input-placeholder, input[type="tel"]:focus::-webkit-input-placeholder, input[type="email"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: transparent;
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%)
}

input[type="text"]:focus::-moz-placeholder, input[type="number"]:focus::-moz-placeholder, input[type="tel"]:focus::-moz-placeholder, input[type="email"]:focus::-moz-placeholder, input[type="password"]:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: transparent;
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%)
}

input[type="text"]:focus::-ms-placeholder, input[type="number"]:focus::-ms-placeholder, input[type="tel"]:focus::-ms-placeholder, input[type="email"]:focus::-ms-placeholder, textarea:focus::-ms-placeholder, input[type="password"]:focus::-moz-placeholder {
    color: transparent;
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%)
}

hr {
    height: 1px;
    padding: 0;
    border: none;
    margin: 20px auto;
    background: #000
}

mark {
    color: #000;
    background: #ff0
}

pre {
    margin: 1em 0;
    padding: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    white-space: pre;
    white-space: pre-wrap;
    background: #efefef;
    word-wrap: break-word
}

code, kbd, pre, samp {
    font-family: 'courier new', monospace, serif;
    font-size: 1em
}

small {
    font-size: 80%
}

big {
    font-size: 125%
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em;
    left: -0.3em
}

sub {
    bottom: -.25em;
    left: -0.3em
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}

ins, u {
    text-decoration: underline
}

del, s {
    text-decoration: line-through
}

dl, menu {
    margin: 1em 0 1em 1em;
    list-style: none
}

dd + dt {
    margin-top: 1em
}

dd {
    margin: 0 0 0 40px
}

nav ol, nav ul, ol, ul {
    list-style: none
}

.clearfix:after, .wrapper:after, .row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

p {
    font-size: 14px;
    line-height: normal;
    color: #333;
    font-weight: 400
}

h1 {
    font-size: 36px;
    line-height: 42px;
    color: #040404;
    padding: 15px 0 15px 0;
    font-weight: 400
}

h2 {
    font-size: 32px;
    line-height: 37px;
    color: #040404;
    padding: 15px 0 15px 0;
    font-weight: 400
}

h3 {
    font-size: 28px;
    line-height: 32px;
    color: #040404;
    padding: 15px 0 15px 0;
    font-weight: 400
}

.text-left {
    text-align: left !important
}

.text-center {
    text-align: center !important
}

.text-right {
    text-align: right !important
}

.nowrap {
    white-space: nowrap !important
}

[hidden] {
    display: none
}

.main-wrapper {
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    position: relative;
    min-width: 320px;
    width: 100%;
    min-height: 100%;
    padding: 0;
    visibility: visible;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

.wrapper {
    position: relative;
    max-width: 1120px;
    min-width: 320px;
    padding: 0;
    margin: 0 auto
}

.loaded .main-wrapper {
    visibility: hidden
}

.icon-load {
    position: fixed;
    left: 50%;
    top: 50%;
    display: none;
    width: 160px;
    height: 160px;
    background: url(../img/loader.svg) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.loaded .icon-load {
    display: block
}

.button-full, .tariff__button, .button-transparent {
    position: relative;
    padding: 16px 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

.button-full:hover, .tariff__button:hover, .button-transparent:hover {
    border: 1px solid #d9b680;
    color: #d9b680;
    background: transparent
}

.button-full[disabled], .tariff__button[disabled], .button-transparent[disabled] {
    color: rgba(4, 4, 6, 0.24);
    background: #e5e5e5
}

.button-full[disabled]:hover, .tariff__button[disabled]:hover, .button-transparent[disabled]:hover {
    border: 1px solid #e5e5e5;
    color: rgba(4, 4, 6, 0.24);
    background: #e5e5e5
}

.border-radius {
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    border-radius: 250px
}

.border-radius-t {
    -webkit-border-radius: 250px 250px 0 0;
    -moz-border-radius: 250px 250px 0 0;
    border-radius: 250px 250px 0 0
}

.border-radius-t-l {
    -webkit-border-radius: 250px 0 0 0;
    -moz-border-radius: 250px 0 0 0;
    border-radius: 250px 0 0 0
}

.border-radius-t-r {
    -webkit-border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    border-radius: 0 250px 0 0
}

.border-radius-r {
    -webkit-border-radius: 0 250px 250px 0;
    -moz-border-radius: 0 250px 250px 0;
    border-radius: 0 250px 250px 0
}

.border-radius-b {
    -webkit-border-radius: 0 0 250px 250px;
    -moz-border-radius: 0 0 250px 250px;
    border-radius: 0 0 250px 250px
}

.border-radius-b-r {
    -webkit-border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    border-radius: 0 0 250px 0
}

.border-radius-b-l {
    -webkit-border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    border-radius: 0 0 0 250px
}

.border-radius-l {
    -webkit-border-radius: 250px 0 0 250px;
    -moz-border-radius: 250px 0 0 250px;
    border-radius: 250px 0 0 250px
}

.button-full, .tariff__button {
    border: 1px solid transparent;
    color: #040404;
    background: #d9b680
}

.button-transparent {
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    background: transparent
}

.title, .header__title, .results__title, .results__indicators-val, .results__description-caption, .reviews__title, .reviews__card-name, .faq__title, .faq__caption, .tariff__title, .tariff__caption, .blog__title, .blog__caption, .login-hint__caption, .login-form__title, .registration__caption {
    color: #040404;
    font-family: "Roboto Slab", sans-serif;
    font-size: 48px
}

.plain-text, ::-webkit-input-placeholder, ::-webkit-textarea-placeholder, .custom-placeholder, .select2.select2-container .selection .select2-selection:before, .header__text, .results__subtitle, .results__indicators-text, .results__description-text, .reviews__subtitle, .reviews__card-text, .reviews__card-time, .faq__text, .tariff__subtitle, .tariff__text, .blog__subtitle, .login-hint__text, .payment__text, .mail-confirm__text, .registration__text, .copyright {
    opacity: .5;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px
}

.input-reset, .login-form__input, .payment__input, .registration__input, .registration__textarea {
    height: 64px;
    padding: 30px 15px 10px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #040404;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    background: #fff
}

.input-reset:focus + .custom-placeholder, .login-form__input:focus + .custom-placeholder, .payment__input:focus + .custom-placeholder, .registration__input:focus + .custom-placeholder, .registration__textarea:focus + .custom-placeholder,
.password-reset__input.filled + .custom-placeholder{
    top: 10px;
    line-height: 12px;
    font-size: 12px;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%)
}

.custom-placeholder {
    position: absolute;
    top: 50%;
    left: 15px;
    line-height: 18px;
    font-size: 18px;
    transform: translate(0, -50%);
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

.custom-placeholder.require:after {
    content: '*';
    color: red
}

.custom-placeholder.active {
    top: 10px;
    line-height: 12px;
    font-size: 12px;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%)
}

.check-wrap {
    padding-left: 40px;
    margin-bottom: 25px
}

.check-wrap:last-of-type {
    margin-bottom: 0
}

input[type="checkbox"], input[type="radio"] {
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    cursor: pointer
}

input[type="checkbox"]:checked + .custom-check:before, input[type="radio"]:checked + .custom-check:before {
    content: "\e907";
    position: absolute;
    top: 50%;
    left: 50%;
    color: #d9b680;
    font-family: 'icomoon' !important;
    font-size: 15px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.custom-check {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 15px;
    vertical-align: middle;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

.custom-check:hover {
    border: 1px solid #d9b680
}

.custom-check + .check-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 24px
}

.select2.select2-container {
    width: 100% !important
}

.select2.select2-container .selection .select2-selection {
    height: 64px;
    border-color: #e5e5e5
}

.select2.select2-container .selection .select2-selection:before {
    content: attr(data-pholder);
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap
}

.select2.select2-container .selection .select2-selection__rendered {
    height: 100%;
    padding: 35px 20px 10px 15px;
    color: #040404;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px
}

.select2.select2-container .selection .select2-selection__arrow {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 30px
}

.select2.select2-container .selection .select2-selection__arrow b {
    border-width: 4px 3px 0 3px;
    border-color: #040404 transparent transparent transparent;
    margin: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.select2-dropdown {
    border-color: #e5e5e5
}

.select2-results__option[aria-selected=true] {
    opacity: .5 !important;
    color: #040404 !important;
    background-color: #d9b680 !important
}

.select2-results__option--highlighted[aria-selected] {
    background-color: #d9b680 !important;
    color: white !important
}

header {
    order: 1;
    -webkit-order: 1;
    width: 100%;
    min-width: 320px;
    padding: 35px 0 0;
    text-align: left;
    background: #040404
}

.header__top {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.header__content {
    padding: 80px 0
}

.header__text {
    margin: 0 0 25px;
    color: #fff
}

.header__title {
    margin: 0 0 20px;
    color: #fff
}

.header__link-back {
    display: inline-block;
    width: 100%;
    max-width: 55px;
    height: 55px;
    border: 1px solid transparent;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-right: 40px;
    color: #040404;
    line-height: 55px;
    text-align: center;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    -ms-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    -o-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

.header__link-back:hover {
    border-color: #d9b680;
    color: #d9b680
}

.header.main {
    background: #040404;
/*url(../img/header-bg.png) no-repeat right center*/
}

.header.main .header__content {
    /*padding: 105px 0 225px*/
    padding: 80px 0;
}

.header.main .header__title {
    max-width: 600px
}

.header.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 0;
    background: #f2f2f2
}

.header.sticky .header__content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 0
}

.header.sticky .header__title {
    margin: 0;
    color: #040404;
    font-size: 24px;
    line-height: 24px
}

.logo {
    display: inline-block
}

.logo__img {
    display: block
}

.header-menu {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto
}

.header-menu__nav {
    display: inline-block
}

.header-menu__nav-link, .header-menu__auth-user, .header-menu__auth-menu-link {
    display: inline-block;
    margin-right: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase
}

.header-menu__nav-link:hover, .header-menu__auth-user:hover, .header-menu__auth-menu-link:hover {
    color: #d9b680
}

.header-menu__link + .header-menu__link {
    margin-left: 25px
}

.header-menu__authorized {
    position: relative;
    padding-left: 45px
}

.header-menu__auth-user {
    cursor: pointer;
    padding-right: 15px;
    margin: 0;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.header-menu__auth-user:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: inline-block;
    border: 8px solid #ccc;
    border-right: 4px solid transparent;
    border-bottom: none;
    border-left: 4px solid transparent;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

.header-menu__auth-user.active:after {
    -webkit-transform: translate(0, -50%) rotate3d(1, 0, 0, 180deg);
    -moz-transform: translate(0, -50%) rotate3d(1, 0, 0, 180deg);
    -ms-transform: translate(0, -50%) rotate3d(1, 0, 0, 180deg);
    -o-transform: translate(0, -50%) rotate3d(1, 0, 0, 180deg);
    transform: translate(0, -50%) rotate3d(1, 0, 0, 180deg)
}

.header-menu__auth-menu {
    position: absolute;
    top: -100%;
    right: 0;
    width: 160px;
    border-radius: 4px;
    background: #fff;
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
    -moz-transform: rotate3d(1, 0, 0, 90deg);
    -ms-transform: rotate3d(1, 0, 0, 90deg);
    -o-transform: rotate3d(1, 0, 0, 90deg);
    transform: rotate3d(1, 0, 0, 90deg);
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

.header-menu__auth-menu.active {
    top: calc(100% + 25px);
    -webkit-transform: rotate3d(0, 0, 0, 90deg);
    -moz-transform: rotate3d(0, 0, 0, 90deg);
    -ms-transform: rotate3d(0, 0, 0, 90deg);
    -o-transform: rotate3d(0, 0, 0, 90deg);
    transform: rotate3d(0, 0, 0, 90deg)
}

.header-menu__auth-menu-item {
    padding: 20px;
    border-bottom: 1px solid #e5e5e5
}

.header-menu__auth-menu-item:last-child {
    border: none
}

.header-menu__auth-menu-link {
    margin: 0;
    color: #040404
}

.content {
    min-width: 320px;
    text-align: left;
    width: 100%;
    order: 2;
    -webkit-order: 2;
    flex-grow: 1;
    -webkit-flex-grow: 1
}

.slider-nav {
    position: absolute;
    top: 0;
    right: 0
}

.slider-nav .slick-arrow {
    display: inline-block;
    width: 55px;
    height: 55px;
    padding: 0;
    border: 0;
    border-radius: 100%;
    margin-right: 15px;
    vertical-align: middle;
    font-size: 0;
    background: #fff
}

.slider-nav .slick-arrow:last-of-type {
    margin-right: 0
}

.slider-nav .slick-arrow:before {
    font-family: 'icomoon' !important;
    font-size: 10px
}

.slider-nav .slick-arrow.slick-prev:before {
    content: '\e901'
}

.slider-nav .slick-arrow.slick-next:before {
    content: '\e902'
}

.pagination {
    padding: 120px 0 0
}

.pagination__link {
    display: inline-block
}

.results {
    padding: 120px 0 60px
}

.results__head {
    margin: 0 0 60px
}

.results__title {
    margin: 0 0 30px
}

.results__indicators {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 30px 0 0;
    margin: 0 0 120px
}

.results__indicators-box {
    position: relative;
    display: inline-block;
    width: 23%;
    max-width: 255px;
    padding: 75px 40px 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 2.66%;
    text-align: center;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 10px rgba(225, 225, 225, 0.5);
    -moz-box-shadow: 0px 4px 10px rgba(225, 225, 225, 0.5);
    -ms-box-shadow: 0px 4px 10px rgba(225, 225, 225, 0.5);
    -o-box-shadow: 0px 4px 10px rgba(225, 225, 225, 0.5);
    box-shadow: 0px 4px 10px rgba(225, 225, 225, 0.5)
}

.results__indicators-box:last-child {
    margin-right: 0
}

.results__indicators-ico {
    position: absolute;
    top: -32px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.results__indicators-val {
    margin: 0 0 25px;
    font-size: 100px;
    line-height: 100px
}

.results__indicators-val:after {
    content: '%';
    display: inline-block;
    vertical-align: top;
    font-size: 40px;
    line-height: 40px
}

.results__indicators-text {
    font-size: 16px;
    line-height: 24px
}

.results__description {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.results__description-box {
    display: inline-block;
    width: 31.25%;
    max-width: 350px;
    margin: 0 2.66% 60px 0
}

.results__description-box:nth-child(3n+3) {
    margin-right: 0
}

.results__description-caption {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 24px
}

.results__description-text {
    font-size: 16px;
    line-height: 24px
}

.section-reviews {
    max-height: 655px;
    padding: 120px 0 0;
    margin: 0 0 200px;
    background: #040404
}

.reviews__head {
    margin: 0 0 60px
}

.reviews__title {
    margin: 0 0 25px;
    color: #fff
}

.reviews__subtitle {
    color: #fff
}

.reviews__content {
    width: 200%
}

.reviews__card {
    display: flex !important;
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 450px;
    padding: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 30px;
    overflow: hidden;
    background: #000000
}

.reviews__photo {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: 0
}

.reviews__play {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 65px;
    height: 65px;
    padding: 0;
    border: 3px solid #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%)
}

.reviews__play:before {
    content: "\e900";
    color: #fff;
    font-family: 'icomoon' !important;
    font-size: 17px
}

.reviews__card-info {
    position: relative;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: 1
}

.reviews__card-name {
    margin: 0 0 25px;
    color: #fff;
    font-size: 32px;
    line-height: 32px
}

.reviews__card-text {
    display: block;
    margin: 0 0 25px;
    color: #fff;
    font-size: 16px;
    line-height: 16px
}

.reviews__card-time {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase
}

.section-faq {
    margin: 0 0 120px
}

.faq {
    width: 200%
}

.faq__head {
    margin: 0 0 60px
}

.faq__content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.faq__box {
    display: inline-block;
    width: 31.25%;
    max-width: 350px;
    min-height: 400px;
    padding: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 30px 0 0;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 10px rgba(225, 225, 225, 0.5);
    -moz-box-shadow: 0px 4px 10px rgba(225, 225, 225, 0.5);
    -ms-box-shadow: 0px 4px 10px rgba(225, 225, 225, 0.5);
    -o-box-shadow: 0px 4px 10px rgba(225, 225, 225, 0.5);
    box-shadow: 0px 4px 10px rgba(225, 225, 225, 0.5)
}

.faq__caption {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 24px
}

.faq__text {
    font-size: 16px;
    line-height: 24px
}

.section-tariff {
    margin: 0 0 120px
}

.tariff__head {
    margin: 0 0 60px
}

.tariff__title {
    margin: 0 0 30px
}

.tariff__content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.tariff__box {
    position: relative;
    display: inline-block;
    width: 31.25%;
    min-height: 400px;
    padding: 40px 40px 110px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 2% 0 0;
    background: #000000
}

.tariff__box:last-child {
    margin-right: 0
}

.tariff__caption {
    margin: 0 0 20px;
    color: #fff;
    font-size: 32px;
    line-height: 32px
}

.tariff__text {
    color: #fff;
    font-size: 16px;
    line-height: 24px
}

.tariff__button {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: calc(100% - 80px);
    text-align: center
}

.section-blog {
    margin: 0 0 120px
}

.blog__head {
    margin: 0 0 60px
}

.blog__title {
    margin: 0 0 30px
}

.blog__content:not(.slick-slider) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 120px 0 0
}

.blog__content:not(.slick-slider) .blog__article {
    margin: 0 0 30px
}

.blog__content .slick-track {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.blog__article {
    position: relative;
    display: flex !important;
    width: 22.76%;
    max-width: 255px;
    min-height: 350px;
    padding: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 30px 0 0;
    overflow: hidden;
    background: #000000;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    -ms-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    -o-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04)
}

.blog__img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .6;
    object-fit: cover;
    object-position: center
}

.blog__caption {
    position: relative;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: #fff;
    font-size: 18px;
    line-height: 24px
}

.section-blog-article {
    margin: 0 0 120px
}

.blog-article__img {
    display: block;
    width: 100%;
    margin: 0 0 60px;
    object-fit: contain;
    object-position: center
}

.blog-article__text {
    display: block;
    margin: 0 0 60px;
    color: #040404;
    font-size: 18px;
    line-height: 32px
}

.blog-article__text:last-of-type {
    margin: 0
}

.blog-article__caption {
    display: block;
    margin: 0 0 30px;
    color: #040404;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px
}

.blog-article__list {
    padding-left: 30px;
    margin: 0 0 60px;
    list-style: decimal inside
}

.blog-article__list-item {
    color: #040404;
    font-size: 18px;
    line-height: 32px
}

.section-login {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.login-hint {
    display: inline-block;
    width: 50%;
    padding: 35px 0 120px;
    background: #000
}

.login-hint .logo {
    margin-left: 16.666%
}

.login-hint__slider {
    width: 62.5%;
    max-width: 450px;
    padding: 115px 0 0;
    margin: 0 auto
}

.login-hint__slider .slick-dots {
    padding: 160px 0 0;
    text-align: center
}

.login-hint__slider .slick-dots li {
    display: inline-block;
    margin: 0 15px 0 0;
    vertical-align: middle
}

.login-hint__slider .slick-dots li:last-child {
    margin: 0
}

.login-hint__slider .slick-dots li.slick-active button {
    opacity: .25
}

.login-hint__slider .slick-dots button {
    display: block;
    width: 45px;
    height: 4px;
    padding: 0;
    border: none;
    border-radius: 5px;
    font-size: 0;
    background: #fff;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

.login-hint__ico {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto 65px
}

.login-hint__caption {
    margin: 0 0 30px;
    color: #fff;
    font-size: 32px;
    line-height: 36px;
    text-align: center
}

.login-hint__text {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-align: center
}

.login-wrapper {
    display: inline-block;
    width: 50%
}

.login-form {
    max-width: 350px;
    padding: 160px 0 0;
    margin: 0 auto
}

.login-form__title {
    margin: 0 0 40px;
    font-size: 36px;
    line-height: 36px
}

.login-form__fields-wrap {
    margin: 0 0 25px
}

.login-form__label {
    position: relative;
    display: block
}

.login-form__input {
    display: block;
    width: 100%;
    height: 72px;
    padding: 40px 15px 15px
}

.login-form__input.border-radius-t {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

.login-form__input.border-radius-b {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.login-form__input:focus + .custom-placeholder {
    top: 15px
}

.login-form__input-placeholder.active {
    top: 15px
}

.login-form__submit {
    width: 100%;
    margin: 40px 0 60px
}

.login-form__link {
    display: inline-block;
    margin: 0 30px 0 0;
    color: #d9b680;
    font-size: 16px;
    line-height: 16px
}

.login-form__link:last-child {
    margin: 0
}

.payment {
    max-width: 530px;
    padding: 80px 0;
    margin: 0 auto
}

.payment__text {
    margin: 0 0 30px;
    font-size: 16px;
    line-height: 22px
}

.payment__field-wrap {
    margin: 0 0 30px
}

.payment__label {
    position: relative;
    display: block
}

.payment__input {
    width: 100%
}

.payment__submit {
    margin: 60px 0 0
}

.section-mail-confirm {
    padding: 120px 0
}

.mail-confirm {
    max-width: 570px;
    margin: 0 auto
}

.mail-confirm__title {
    margin: 0 0 30px;
    color: #040404;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px
}

.mail-confirm__content {
    min-height: 240px;
    padding: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #ffffff
}

.mail-confirm__text {
    margin: 0 0 5px;
    font-size: 16px;
    line-height: 22px
}

.mail-confirm__link {
    color: #d9b680;
    font-size: 16px;
    line-height: 22px
}

.registration {
    padding: 80px 0 120px
}

.registration__form {
    display: block;
    max-width: 735px
}

.registration__field-box {
    margin: 0 0 80px
}

.registration__caption {
    margin: 0 0 40px;
    font-size: 24px;
    line-height: 24px
}

.registration__text {
    font-size: 12px;
    line-height: 12px
}

.registration__text.text-hint {
    margin: 10px 0 0
}

.registration__fields-group {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0 0 30px
}

.registration__fields-group:last-of-type {
    margin: 0
}

.registration__label {
    position: relative;
    display: inline-block;
    width: 47.6%;
    max-width: 350px;
    margin: 0 4.8% 0 0;
    overflow: hidden
}

.registration__label:last-child {
    margin: 0
}

.registration__input {
    width: 100%
}

.registration__select {
    width: 100%
}

.registration__textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    min-height: 180px;
    max-height: 250px;
    padding: 25px 15px;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 30px 0 0;
    resize: none
}

footer {
    order: 3;
    -webkit-order: 3;
    width: 100%;
    min-width: 320px;
    text-align: left
}

.footer {
    padding: 120px 0 140px;
    background: #040404
}

.subscription {
    margin: 0 0 75px
}

.subscription__label {
    position: relative;
    display: block
}

.subscription__input {
    display: block;
    width: 100%;
    height: 92px;
    padding: 30px 335px 30px 30px;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-family: "Roboto Slab", sans-serif;
    font-size: 32px;
    line-height: 32px;
    background: #161616
}

.subscription__input::-webkit-input-placeholder {
    color: #fff;
    font-family: "Roboto Slab", sans-serif;
    font-size: 32px;
    line-height: 32px
}

.subscription__input::-moz-placeholder {
    color: #fff;
    font-family: "Roboto Slab", sans-serif;
    font-size: 32px;
    line-height: 32px
}

.subscription__input::-ms-placeholder {
    color: #fff;
    font-family: "Roboto Slab", sans-serif;
    font-size: 32px;
    line-height: 32px
}

.subscription__input:focus {
    background: #161616 !important
}

.subscription__button {
    position: absolute;
    top: 50%;
    right: 15px;
    padding: 20px 30px 21px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.footer-nav {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 0 120px
}

.footer-nav__contents-link {
    display: inline-block;
    margin: 0 40px 0 0;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase
}

.footer-nav__contents-link:last-child {
    margin: 0
}

.footer-nav__contents-link:hover {
    color: #d9b680
}

.footer-nav__social {
    margin-left: auto
}

.footer-nav__social-link {
    display: inline-block;
    margin: 0 70px 0 0;
    color: #fff;
    font-size: 24px
}

.footer-nav__social-link:last-child {
    margin: 0
}

.footer-nav__social-link:hover {
    color: #d9b680
}

.copyright {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    white-space: pre-line
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body {
        min-height: 100 hv;
        width: 100%;
        display: flex;
        flex-direction: column
    }
}

.blog-article__img {
    width: auto;
    max-height: 600px;
    display: inline-block;
    border-radius: 10px;
}

.blog-article__img-container {
    text-align: center;

}

p {
    display: block;
    margin: 0 0 60px;
    color: #040404;
    font-size: 18px;
    line-height: 32px;
}

ul, ol {
    padding-left: 30px;
    margin: 0 0 60px;
}

li {
    color: #040404;
    font-size: 18px;
    line-height: 32px;
}

ol {
    list-style: decimal inside;
}

p > strong {
    color: #040404;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.pagination {
    text-align: center;
}

.header__content.blog-title {
    display: flex;
    flex-wrap: nowrap !important;
}


.input-reset, .login-form__input, .payment__input, .password-reset__input, .registration__input, .registration__textarea {
    height: 64px;
    padding: 30px 15px 10px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #040404;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    background: #fff
}

.input-reset:focus + .custom-placeholder, .login-form__input:focus + .custom-placeholder, .payment__input:focus + .custom-placeholder, .password-reset__input:focus + .custom-placeholder, .registration__input:focus + .custom-placeholder, .registration__textarea:focus + .custom-placeholder {
    top: 10px;
    line-height: 12px;
    font-size: 12px;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%)
}


.password-reset {
    max-width: 530px;
    padding: 80px 0
}

.password-reset__label {
    position: relative;
    display: block;
    margin: 0 0 120px
}

.password-reset__input {
    width: 100%
}

.password-reset__btn {
    display: inline-block;
    height: 64px;
    padding: 25px !important;
    margin: 0 25px 0 0;
    vertical-align: middle;
    line-height: 14px
}

.password-reset__btn.button-transparent {
    border-color: rgba(51, 51, 51, 0.5);
    color: #040404
}

.password-reset__btn.button-transparent:hover {
    border-color: #d9b680;
    color: #d9b680
}

.password-reset__btn:last-child {
    margin: 0
}


.password-reset__btn {
    display: inline-block;
    height: 64px;
    padding: 25px;
    margin: 0 25px 0 0;
    vertical-align: middle;
    line-height: 14px
}

.password-reset__btn.button-transparent {
    border-color: rgba(51, 51, 51, 0.5);
    color: #040404
}

.password-reset__btn.button-transparent:hover {
    border-color: #d9b680;
    color: #d9b680
}

.password-reset__btn:last-child {
    margin: 0
}


.button-full, .tariff__button, .button-transparent-bright, .button-transparent-dark {
    position: relative;
    padding: 16px 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s
}

.button-full:hover, .tariff__button:hover, .button-transparent-bright:hover, .button-transparent-dark:hover {
    border: 1px solid #d9b680;
    color: #d9b680;
    background: transparent
}

.button-full[disabled], .tariff__button[disabled], .button-transparent-bright[disabled], .button-transparent-dark[disabled] {
    color: rgba(4, 4, 6, 0.24);
    background: #e5e5e5
}

.button-full[disabled]:hover, .tariff__button[disabled]:hover, .button-transparent-bright[disabled]:hover, .button-transparent-dark[disabled]:hover {
    border: 1px solid #e5e5e5;
    color: rgba(4, 4, 6, 0.24);
    background: #e5e5e5
}


.button-transparent-dark {
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: #000;
    background: transparent
}


.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
    margin-bottom: 10px;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.d-block {
    display: block !important;
}

.form-error-message {
    vertical-align: middle;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}