/.web-server-pid
/app/config/parameters.yml
/app/config/parameters_dev.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea
web/upload/category/*
!web/upload/category/.gitkeep
web/upload/post/*
!web/upload/post/.gitkeep
web/upload/day/*
!web/upload/day/.gitkeep
web/upload/company_page/*
!web/upload/company_page/.gitkeep
web/upload/landing/*
!web/upload/landing/.gitkeep