/***********************************************************
*************************** HEADER *************************
***********************************************************/
header {
  order: 1;
  -webkit-order: 1;
  width: 100%;
  min-width: $min-width;
  padding: 35px 0 0;
  text-align: left;
  background: #040404;
}

.header {
  &.main {
    background: #040404 url(../img/header-bg.png) no-repeat right center;
    .header__content {
      padding: 105px 0 245px;
    }
  }
  &__top {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  &__content {
    padding: 80px 0;
  }
  &__text {
    @extend .plain-text;
    margin: 0 0 25px;
    color: $main-text-reverse;
  }
  &__title {
    @extend .title;
    max-width: 600px;
    color: $main-text-reverse;
  }
}

.logo {
  display: inline-block;
  &__img {
    display: block;
  }
}

.header-menu {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;

  &__nav {
    display: inline-block;
  }

  &__nav-link {
    display: inline-block;
    margin-right: 40px;
    color: $main-text-reverse;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    &:hover {
      color: #d9b680;
    }
  }

  &__link {
    & + .header-menu__link {
      margin-left: 25px;
    }
  }
}