{% for key, flashes in flashesAll %}
    {% if key != 'footerMessage' %}
        {% for flash in flashes %}
            <div class="alert alert-{{ key }}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span style="vertical-align: middle">{{ flash }}</span>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}