<section class="section-pay-modal hidden">
    <form class="payment" method="post">
        <span class="cross close-button">&times;</span>
        <h2 id="payment-form-title"></h2>

        <p class="payment__text">После оплаты на вашу почту придет
            ссылка с доступом к курсу, необходимо будет перейти по
            ссылки и пройти процедуру регистрации в личном кабинете.</p>

        <div class="payment__form">
            <div class="payment__field-wrap">
                <label for="payment_email" class="payment__label">
                    <input type="email" id="payment_email" class="payment__input input-js" name="order[email]" value="">
                    <span class="payment__input-placeholder custom-placeholder">Введите почту</span>
                </label>
                <span class="invalid-feedback d-block hidden" id="email-span"><span class="d-block">
                    <span class="form-error-icon badge badge-danger text-uppercase">Ошибка</span> <span class="form-error-message" id="email-message">E-mail обязателеное поле</span>
                </span></span>
                <span class="invalid-feedback d-block hidden" id="error-payment-span">
                            <span class="d-block">
                            <span class="form-error-icon badge badge-danger text-uppercase">Ошибка</span>
                            <span class="form-error-message"  id="error-payment-message"></span>
                </span>
                        </span>
            </div>


            <label for="check_agreement" class="payment__label check-wrap">
                <input type="checkbox" id="check_agreement" name="order[accept]" value="1">
                <span class="custom-check"></span>
                <span class="check-text">Я принимаю условия Пользовательского соглашения и даю своё согласие сервису «28 дней» на обработку моей персональной информации на условиях, определенных Политикой конфиденциальности.</span>
            </label>
            <span class="invalid-feedback d-block hidden" id="accept-span"><span class="d-block">
                    <span class="form-error-icon badge badge-danger text-uppercase">Ошибка</span> <span class="form-error-message" id="accept-message">Вы должны согласиться с условиями</span>
                </span></span>

            <div>
                <input type="submit" value="оплатить" class="payment__submit button-full">
            </div>
            <input type="hidden" name="homepage" value="1">
        </div>
    </form>
</section>