<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <title>Личный кабинет || День курса</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/style_content.css"/>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header sticky">
        <div class="wrapper">
            <div class="header__content">
                <a href="blog.html" class="header__link-back"><i class="icon-left-arrow"></i></a>

                <p class="header__title">
                    <span>День 1</span>
                    К взлету готов</p>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section-article">
            <div class="wrapper">
                <div class="article">
                    <img src="img/blog-article01.png" class="article__img" alt="" title="">

                    <div class="article__content">
                        <p class="article__text">Сегодняшний день - один из самых важных дней в вашей жизни. Пожалуйста не пропускайте первое упражнение. Найдите укромный
                            тихий уголок. Хорошенько подумайте и запишите на бумаге или на электронном носителе (но обязательно именно запишите, а не просто придумайте) причины, по
                            которым вы решили отказаться от алкоголя. Не торопитесь, копните глубже, будьте с собой честны.</p>

                        <p class="article__caption">Если не знаете с чего начать, вот вопросы, которые вам помогут:</p>

                        <ol class="article__list">
                            <li class="article__list-item">Что вам не нравится в вашем сегодняшнем образе жизни?</li>
                            <li class="article__list-item">Что вызывает у вас тревогу?</li>
                            <li class="article__list-item">Почему вы приняли вызов?</li>
                        </ol>

                        <p class="article__text">Если вы добросовестно выполните это простое задание последующие 28 дней
                            пройдут для вас значительно проще.</p>

                        <p class="article__text">На сегодняшний день есть много замечательных научных исследований, о том, что записывание своих мыслей существенно помогает
                            изменить привычки и вообще сохранять ориентиры в нашем изменчивом мире. Почему бы не начать 28 дней без алкоголя с того, чтобы написать - почему вы
                            приняли наш вызов. Почему вам нужна помощь извне в том, чтобы перестать употреблять алкоголь? Как у вас появилась такая мысль?</p>

                        <p class="article__text">Итак, возьмите бумагу и ручку, планшет, телефон и или ноутбук и напишите. Ещё раз
                            подчеркиваем, это необходимо записать. Разумеется, это личная информация,
                            поэтому она должна быть доступной только вам. Сделать это необходимо именно сегодня, пока воспоминания об алкоголе ещё достаточно свежи</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer border-radius-t-r">
        <div class="wrapper">
            <div class="footer-nav">
                <div class="footer-nav__contents">
                    <a href="#01" class="footer-nav__contents-link">Условия договора</a>
                    <a href="#02" class="footer-nav__contents-link">Политика конфиденциальности</a>
                    <a href="#03" class="footer-nav__contents-link">Дисклеймер</a>
                </div>

                <div class="footer-nav__social">
                    <a href="#01" class="footer-nav__social-link"><i class="icon-vk"></i></a>
                    <a href="#02" class="footer-nav__social-link"><span class="icon-facebook"></span></a>
                    <a href="#03" class="footer-nav__social-link"><i class="icon-instagram"></i></a>
                </div>
            </div>

            <p class="copyright">ООО Цифровые решения
                119048, г. Москва, Комсомольский проспект, д.42, стр.3, этаж 2, ком. 4</p>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load"></div>
<!-- BODY END   -->

<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js"></script>
<script type="text/javascript" src="js/components/slick.js"></script>
<script type="text/javascript" src="js/components/select2.full.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>