{% extends 'layouts/base.html.twig' %}
{% block title %}Политика Конфиденциальности{% endblock %}
    {% block header_content %}
        <p class="header__title">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</p>
        {#<p class="header__title">28 дней без алкоголя,#}
        {#которое изменят твою жизнь</p>#}
    {% endblock %}
{% block content %}
    <section>
        <div class="wrapper">
    {#<h1></h1>#}

        </div>
    </section>

{% endblock %}