{% extends 'layouts/blank.html.twig' %}
{% block content %}
    <main class="content">
        <section class="section-mail-confirm">
            <div class="mail-confirm">
                <p class="mail-confirm__title">На почту пришло письмо</p>

                <div class="mail-confirm__content">
                    <p class="mail-confirm__text">Добрый день, для завершения регистрации пройдите по ссылке:</p>
                    <a href="#00" class="mail-confirm__link">http://28dney.ru/registration?8574875936437</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}